body {
  background-color: rgb(213, 218, 218);
  margin: 0;
  margin-top: 20px;
}

.title {
  text-align: center;
}

.quiz {
  width: 600px;
  background-color: rgb(150, 231, 231);
  margin: 0 auto;
  border-radius: 5px;
}

.quiz-question {
}

.quiz-title {
  padding: 26px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.quiz-answers-list {
  list-style-type: none;
}

.quiz-answers-item {
  padding: 10px;
}

.block-score-questionof {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.quiz-score,
.quiz-question-of {
  font-weight: 700;
}

.quiz-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.quiz-button-submit,
.quiz-button-reset {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: rgb(9, 88, 88);
  color: #fff;
  border-radius: 5px;
  letter-spacing: 2px;
}

.quiz-button-submit:hover,
.quiz-button-reset:hover {
  color: rgb(150, 231, 231);
}
