@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* -----------------------------------General-------------------------- */
body {
  background-color: rgb(3, 27, 27);
  margin: 0;
  font-family: Montserrat;
}

/* ----------------------------------Nav menu----------------------------*/
.nav {
  display: flex;
  justify-content: center;
}

#active {
  text-decoration: underline;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.nav a:hover {
  color: rgb(150, 231, 231);
}

.nav ul {
  padding: 0 40px;
  text-align: center;
  margin: 0;
}

.nav_item {
  list-style-type: none;
}

.menu_container {
  padding: 20px;
  background-color: rgb(9, 88, 88);
}

/* ----------------------------------Main Page----------------------------------*/

.container {
  color: white;
  margin: 0 auto;
  width: 760px;
}

.intro_title,
.rules_title {
  text-align: center;
}

.intro p,
.feedback_container p {
  text-align: justify;
  text-indent: 20px;
}

.rules_list {
  padding: 0 0 0 20px;
}

.rules_list li {
  padding: 10px 0;
  text-align: justify;
}

.rules {
  margin-bottom: 40px;
}

.btn_block {
  text-align: center;
  margin-bottom: 40px;
}

/*----------------------------------Quiz page----------------------------------*/

.quiz_answers label,
.quiz_answers input,
.sound_off,
.sound_on {
  cursor: pointer;
}

.sound_block {
  color: rgb(9, 88, 88);
  text-align: right;
}

.title {
  text-align: center;
  margin: 20px 0;
  color: white;
  padding: 0 20px;
}

.quiz {
  width: 700px;
  background-color: rgb(150, 231, 231);
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
}

.results_container {
  text-align: center;
}

.quiz_title {
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
}

.quiz_answers_list {
  list-style-type: none;
  min-height: 160px;
  margin: 0;
  padding: 0;
}

.quiz_answers_item {
  padding: 10px;
}

.block_score_questionof {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.quiz_score,
.quiz_question_of {
  font-weight: 700;
}

.quiz_buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  min-height: 38px;
}

.play_again {
  justify-content: center;
}

.quiz_button_next,
.quiz_button_reset,
.quiz_button_finish,
.start_quiz_btn,
.reset_btn,
.submit_btn {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: rgb(9, 88, 88);
  color: #fff;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;
}

.quiz_button_next:hover,
.quiz_button_reset:hover,
.start_quiz_btn:hover,
.reset_btn:hover,
.submit_btn:hover,
.quiz_button_finish:hover {
  color: rgb(150, 231, 231);
}

/*----------------Pop-up windows start again and choose answer--------------*/

/* Hide the main content, when pop-up is active */
.popup_choose_answer,
.popup_start_again {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.modal_choose_answer,
.modal_start_again {
  width: 300px;
  height: 100px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -170px;
  margin-top: -70px;
  border: 2px solid rgb(9, 88, 88);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup_visible {
  display: block;
}

.modal_choose_answer_text,
.modal_start_again_text {
  color: rgb(9, 88, 88);
  font-weight: 700;
  margin: 0;
}

.modal_choose_answer_btn,
.modal_start_again_btn_ok,
.modal_start_again_btn_cancel {
  padding: 5px 30px;
  font-size: 16px;
  border: none;
  background-color: rgb(9, 88, 88);
  color: #fff;
  border-radius: 5px;
  letter-spacing: 2px;
  margin-top: 20px;
  min-width: 120px;
  cursor: pointer;
}

.modal_choose_answer_btn {
  align-self: center;
}

.modal_start_again_btn {
  display: flex;
  justify-content: space-around;
}

.close_btn {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(9, 88, 88);
  line-height: normal;
  margin: 0;
  border: none;
  background-color: #fff;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
}

li {
  border-radius: 5px;
}

.selected {
  background-color: rgb(162, 175, 175);
}

.selected_correct {
  background-color: rgb(22, 168, 22);
}

.selected_wrong {
  background-color: rgb(243, 92, 92);
}

.selected_blink {
  animation: blink 1s infinite;
}

/* Animation after choose answer */
@keyframes blink {
  0%,
  100% {
    background-color: rgb(150, 231, 231);
  }

  50% {
    background-color: rgb(162, 175, 175);
  }
}

.hidden {
  display: none;
}

.show-easy {
  animation: showBlock 1s linear forwards;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ---------------------------Feedback page---------------------------- */

.feedback_container {
  color: white;
  margin: 0 auto;
  width: 400px;
}

.feedback_title {
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
}

.feedback_text {
  font-size: 18px;
  line-height: 1.4;
}

.feedback_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.feedback_textarea,
.feedback_name,
.feedback_email {
  font-size: 20px;
  background-color: rgb(150, 231, 231);
  padding-left: 12px;
  padding-right: 12px;
  border: rgb(9, 88, 88) solid 2px;
  border-radius: 5px;
  color: rgb(3, 27, 27);
  margin-bottom: 16px;
}

.feedback_textarea {
  width: 100%;
  padding: 12px 12px;
  margin-bottom: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.feedback_buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: center;
  gap: 20px;
  width: 100%;
}

.feedback_contact_data {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}
/* ----------------------------Media query--------------------------- */

/* Media query: phone 300-767px width*/
@media screen and (max-width: 767px) {
  /*------Burger menu------*/
  .burger_menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .menu_container {
    padding: 12px;
    background-color: rgb(3, 27, 27);
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
  }

  .burger_block {
    display: flex;
    justify-content: flex-end;
  }

  .nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    transform: translateY(-100%);
    transition: transform 0.5s;
    background-color: rgb(9, 88, 88);
  }

  .nav li {
    padding: 20px 0;
  }

  .nav a {
    letter-spacing: 7px;
  }

  .nav.show {
    transform: translateY(0);
  }

  /* ----Home page---- */
  .intro_title {
    font-size: 24px;
  }

  .rules_title {
    font-size: 20px;
  }

  .rules_list li {
    padding: 4px;
  }

  .rules,
  .btn_block {
    margin-bottom: 30px;
  }

  /* ----Quiz page---- */
  .container {
    width: auto;
    padding: 0 20px;
  }

  .quiz {
    width: auto;
    margin: 10px;
    padding: 10px;
  }

  .title {
    font-size: 24px;
    margin: 16px 0;
  }

  .quiz_title {
    padding: 0 10px;
    margin: 10px 0 10px 0;
  }

  .block_score_questionof {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }

  .quiz_score {
    margin-top: 16px;
  }

  .quiz_button_reset,
  .quiz_button_next {
    width: 130px;
  }

  .quiz_title {
    font-size: 18px;
  }

  .quiz_button_reset:hover {
    color: white;
  }

  /* ----Feedback page---- */
  .feedback_container {
    width: auto;
    padding: 0 10px;
    max-width: 400px;
  }

  .feedback_form {
    width: auto;
  }

  .feedback_buttons {
    justify-content: center;
  }

  .feedback_title {
    font-size: 24px;
    margin: 16px 0;
  }
}

/* Media query: small phone (before 300px) */
@media screen and (max-width: 360px) {
  .title {
    font-size: 20px;
    margin: 20px 0;
  }

  .quiz_buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
  }

  .quiz_button_reset {
    margin-top: 16px;
  }
}
