@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: rgb(3, 27, 27);
  margin: 0;
  font-family: Montserrat;
}

.wrapper {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; */
}

.title {
  text-align: center;
  margin: 40px 0;
  color: white;
  padding: 0 20px;
}

.quiz {
  width: 700px;
  background-color: rgb(150, 231, 231);
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
}

.results_container {
  text-align: center;
}

.quiz-title {
  padding: 0 20px;
  font-size: 20px;
  font-weight: 700;
}

.quiz-answers-list {
  list-style-type: none;
  min-height: 160px;
  margin: 0;
  padding: 0;
}

.quiz-answers-item {
  padding: 10px;
}

.block-score-questionof {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.quiz-score,
.quiz-question-of {
  font-weight: 700;
}

.quiz-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.play-again {
  justify-content: center;
}

.quiz-button-submit,
.quiz-button-next,
.quiz-button-reset {
  width: 150px;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: rgb(9, 88, 88);
  color: #fff;
  border-radius: 5px;
  letter-spacing: 2px;
}

.quiz-button-submit:hover,
.quiz-button-reset:hover {
  color: rgb(150, 231, 231);
}

/*               Pop-up windows start again and choose answer              */

/* Hide the main content, when pop-up is active */
.popup-choose-answer,
.popup-start-again {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
}

.modal-choose-answer,
.modal-start-again {
  width: 300px;
  height: 100px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -170px;
  margin-top: -70px;
  border: 2px solid rgb(9, 88, 88);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-visible {
  display: block;
}

.modal-choose-answer-text,
.modal-start-again-text {
  color: rgb(9, 88, 88);
  font-weight: 700;
  margin: 0;
}

.modal-choose-answer-btn,
.modal-start-again-btn-ok,
.modal-start-again-btn-cancel {
  padding: 5px 30px;
  font-size: 16px;
  border: none;
  background-color: rgb(9, 88, 88);
  color: #fff;
  border-radius: 5px;
  letter-spacing: 2px;
  margin-top: 20px;
  min-width: 120px;
}

.modal-choose-answer-btn {
  align-self: center;
}

.modal-start-again-btn {
  display: flex;
  justify-content: space-around;
}

.close-btn,
.close-btn-again {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(9, 88, 88);
  line-height: normal;
  margin: 0;
  border: none;
  background-color: #fff;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 16px;
}

li {
  border-radius: 5px;
}

.selected {
  background-color: lightblue;
}

.selected-correct {
  background-color: lightgreen;
}

.selected-wrong {
  background-color: rgb(243, 92, 92);
}

.selected-blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    background-color: rgb(150, 231, 231);
  }
  50% {
    background-color: lightblue;
  }
}

.hidden {
  display: none;
}

/* Media query: phone 300-767px width*/
@media screen and (max-width: 767px) {
  .quiz {
    width: auto;
    margin: 10px;
    padding: 10px;
  }

  .title {
    font-size: 24px;
  }

  .quiz-title {
    padding: 0 10px;
    margin: 10px 0 10px 0;
  }

  .block-score-questionof {
    display: block;
    padding: 10px;
  }

  .quiz-score {
    margin-top: 16px;
  }

  .quiz-button-submit,
  .quiz-button-reset {
    width: 130px;
  }

  .quiz-title {
    font-size: 18px;
  }

  .quiz-button-submit:hover,
  .quiz-button-reset:hover {
    color: white;
  }

  .block-score-questionof {
    text-align: center;
  }
}

/* Media query: small phone (before 300px) */
@media screen and (max-width: 360px) {
  .title {
    font-size: 20px;
    margin: 20px 0;
  }

  .quiz-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
  }

  .quiz-button-reset {
    margin-top: 16px;
  }

  .block-score-questionof {
    text-align: center;
  }
}
